process {
	executor = 'slurm'
	withName:compressVcf {
		container = 'vip/tabix:latest'
	}
	withName:indexVcf {
		container = 'vip/tabix:latest'
	}
	withName:listVcfChroms {
		container = 'vip/tabix:latest'
	}
	withName:splitVcf {
		container = 'vip/tabix:latest'
	}
	withName:classifyVcf {
		container = 'vip/decision_tree:latest'
	}
	withName:mergeVcf {
		container = 'vip/bcftools:latest'
	}
	withName:report {
  	container = 'vip/report:latest'
  }
}
docker {
	enabled = true
}
