process {
	withName:compressVcf {
		container = './workdir/tabix.sif'
	}
	withName:indexVcf {
		container = './workdir/tabix.sif'
	}
	withName:listVcfChroms {
		container = './workdir/tabix.sif'
	}
	withName:splitVcf {
		container = './workdir/tabix.sif'
	}
	withName:classifyVcf {
		container = './workdir/vip-decision-tree.sif'
	}
	withName:report {
		container = './workdir/vip-report.sif'
	}
}
singularity {
	enabled = true
}

